
.header{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    padding: 0;
}

.text{
    width: fit-content;
}

#geo-pic{
    width: 250px;
    height: 350px;
    border-radius: 10px;
}

.picture-box{
    display: flex;
    align-items: center;
    justify-content: center;  
}

.pictures{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.picture-container{
    height: fit-content;
    padding: 10px;
    border-top: 5px solid black;
}


@media (max-width: 600px){
    .header{
        font-size: 30px
    }

    .pictures{
        display:block;
    }

    
}

@media (min-width: 601px) and (max-width: 1000px){
    .pictures{
        display: grid;
        grid-template-columns: 50% 50%;
    }
}