
h1{
    text-align: center;
    font-size: 60px;
}

.photo-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}


#geo-pic{
    height: 440px;
    width: 300px;
    border: 2px solid;
    border-radius: 5px;
}



